.login-content {
  background-color: #40E0D0; /* Fondo turquesa que cubre toda la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura completa de la ventana */
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-card {
  width: 90%;
  max-width: 400px;
  background-color: #5e5757; /* Fondo gris del formulario */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.centered-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.login-image {
  width: 100px;
}

ion-item {
  margin-bottom: 15px;
}

ion-button {
  margin-top: 10px;
}
