<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="centered-container">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg" alt="Login Image" class="login-image">
  

  <ion-card>
    <div class="contenedor-qr">
      <img src="assets/codigoQR.png"> 
    </div>
        <div class="botones">
        <ion-button (click)="Volver()">Volver</ion-button>
        <ion-button (click)="salirAplicacion()">Salir</ion-button>  
      </div>  

  </ion-card>
</div>
</div>

</ion-content>
