<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <ion-icon name="home-outline"></ion-icon> Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="button-bar">
      <ion-button (click)="salirAplicacion()">
        <ion-icon name="exit-outline"></ion-icon>Cerrar sesión
      </ion-button>
    </div>
  </ion-content>     
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Botón para abrir el menú -->
    </ion-buttons>
    <ion-title>
      Bienvenido, {{nombre}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true">
  <h1></h1>
</ion-content>
