// styles.scss

$primary-color: #4a90e2; // Color principal
$secondary-color: #ffffff; // Color de fondo
$font-family: 'Arial', sans-serif; // Fuente

body {
  font-family: $font-family;
  background-color: $secondary-color;
  margin: 0;
  padding: 0;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; // Ocupa toda la altura de la ventana
  text-align: center;
}

.login-image {
  width: 200px; // Ajusta el tamaño de la imagen
  margin-bottom: 20px; // Espacio debajo de la imagen
}

.custom-card {
  margin: 20px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra sutil
  border-radius: 10px; // Bordes redondeados
  display: flex; // Usar flexbox para centrar contenido
  flex-direction: column; // Colocar elementos en columna
  align-items: center; // Centrar horizontalmente
  text-align: center; // Centrar texto
}

.custom-card-title {
  color: $primary-color;
  font-weight: bold;
}

.custom-card-header {
  color: darken($primary-color, 10%);
}

.boton-center {
  display: flex;
  justify-content: center;
}

.custom-button {
  background-color: $primary-color;
  color: $secondary-color;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: lighten($primary-color, 10%);
  }
}

.maps-image {
  width: 100%; // Se ajusta al contenedor
  max-width: 400px; // Limitar el tamaño máximo
  border-radius: 10px; // Bordes redondeados para la imagen
  margin-top: 20px; // Espacio encima de la imagen
}
